# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Never leak environment variable values!

BASE_URL=

# Database variables https://console.neon.tech/app/
DATABASE_URL=

# Google site console
GOOGLE_SITE_VERIFICATION=

# Auth
AUTH_SECRET= # ```openssl rand -base64 32```
NEXTAUTH_URL= # same as baseurl eg. http://localhost:3000 or https://yourdomain.com

# Github https://github.com/settings/developers
GITHUB_CLIENT_ID= 
GITHUB_CLIENT_SECRET=

# Google https://console.cloud.google.com/auth/clients
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# KV 
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_REST_URL=

# Others 
NEXT_PUBLIC_IS_IN_MAINTENANCE= # true or false